.layout-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

::deep .mud-nav-link {
    border-radius: 4px;
    margin: 0 4px;
    transition: background-color 0.2s ease-in-out;
}

::deep .mud-nav-link:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

::deep .active-nav-link {
    background-color: rgba(255, 255, 255, 0.1);
}
