@using MudBlazor
@using MudBlazor.Components

@* <div class="d-flex align-center"> *@
    <MudNavLink Href="/"
               Icon="@Icons.Material.Filled.Home"
               Class="rounded-lg px-3"
               ActiveClass="active-nav-link">
        Home
    </MudNavLink>
    <MudNavLink Href="/projectsProfessional"
               Icon="@Icons.Material.Filled.Business"
               Class="rounded-lg px-3"
               ActiveClass="active-nav-link">
        Projects
    </MudNavLink>
    <MudNavLink Href="/"
               Icon="@Icons.Material.Filled.PlayArrow"
               Class="rounded-lg px-3"
               ActiveClass="active-nav-link">
        Demos
    </MudNavLink>
    <MudNavLink Href="/contactPage"
               Icon="@Icons.Material.Filled.Email"
               Class="rounded-lg px-3"
               ActiveClass="active-nav-link">
        Contact
    </MudNavLink>
@* </div> *@
