.active-nav-link {
    background-color: rgba(255,255,255, 0.1) !important;
    backdrop-filter: blur(8px);
    border-right: 3px solid var(--mud-palette-primary);
    transform: translateX(4px);
    transition: all 0.2s ease-in-out;
}

::deep .mud-nav-link {
    transition: all 0.2s ease-in-out;
}

::deep .mud-nav-link:hover:not(.active-nav-link) {
    background-color: rgba(255,255,255, 0.05) !important;
    transform: translateX(4px);
}

::deep .mud-nav-link.active-nav-link:hover {
    background-color: rgba(255,255,255, 0.15) !important;
}
